.App {

}
.App-section {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10px;

}
.App-sections {

  margin-top: 20px;
  margin-left: 300px;
  margin-right: 10px;

}


.App-logo {
  
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("https://img.clipartfest.com/898ff76f58129a7292702b2a31b97836_papel-picado-search-and-papel-picado-banner-clipart_736-307.jpeg");
  width: 500%;
  height: 120px;
  padding: 115px;
  margin-left: -300px;
  
}

.App-intro {

  font-size: large;
  padding-left: 50px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}