doctype html
html
  head
    title Todo List
    //- link( rel="stylesheet" href="/stylesheets/style.css" )
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css")

  body
    div#app
    script( type="text/javascript" src="/js/app.bundle.js")

