doctype html
html
  head
    title To-Do List
    link( rel="stylesheet" href="/stylesheets/style.css" )
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
    link( href="//cdn.muicss.com/mui-0.9.10/css/mui.min.css" rel="stylesheet" type="text/css" media="screen" )

  body
    div#app
    script( type="text/javascript" src="/js/app.bundle.js")
    
    